/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Cutive+Mono|Cardo);
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -ms-box-sizing: inherit;
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ----------------------------------------------------------------------------------------------------

SCSS Form Reset Helpers - Forked from: https://gist.github.com/anthonyshort/552543

Intended usage:
- MIXINS: for very specific use cases, when you dont want to reset absolutly all the forms, very verbose output.
- PLACEHOLDER SELECTORS: use as extending classes. Less verbose, more generic overrides.

A couple of things to watch out for:

- IE8: If a text input doesn't have padding on all sides or none the text won't be centered.
- The default border sizes on text inputs in all UAs seem to be slightly different. You're better off using custom borders.
- You NEED to set the font-size and family on all form elements
- Search inputs need to have their appearance reset and the box-sizing set to content-box to match other UAs
- You can style the upload button in webkit using ::-webkit-file-upload-button
- ::-webkit-file-upload-button selectors can't be used in the same selector as normal ones. FF and IE freak out.
- IE: You don't need to fake inline-block with labels and form controls in IE. They function as inline-block.
- By turning off ::-webkit-search-decoration, it removes the extra whitespace on the left on search inputs

----------------------------------------------------------------------------------------------------*/
.field-wrapper input, .field-wrapper label, .field-wrapper select, button, .field-wrapper textarea {
  display: inline-block;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
  vertical-align: middle;
  white-space: normal;
  line-height: inherit;
  background: none;
  /* Browsers have different default form fonts */
  color: inherit;
  font-size: inherit;
  font-family: inherit; }

.field-wrapper input[type=reset], .field-wrapper input[type=button], .field-wrapper input[type=submit], .field-wrapper input[type=checkbox], .field-wrapper input[type=radio], .field-wrapper select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.field-wrapper input {
  /* Make webkit render the search input like a normal text field */
  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  /* Fix IE7 display bug */
  /* These elements are usually rendered a certain way by the browser */ }
  .field-wrapper input:focus {
    outline: 0; }
  .field-wrapper input[type=checkbox], .field-wrapper input[type=radio] {
    width: 13px;
    height: 13px; }
  .field-wrapper input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box; }
  ::-webkit-search-decoration {
    display: none; }
  .field-wrapper input[type="reset"], .field-wrapper input[type="button"], .field-wrapper input[type="submit"] {
    overflow: visible; }

.field-wrapper select {
  /* Move the label to the top */ }
  .field-wrapper select[multiple] {
    vertical-align: top; }

button {
  background: none;
  border: 0;
  outline: none;
  /* IE8 and FF freak out if this rule is within another selector */ }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button:hover, button:active, button:focus {
    outline: 0; }
  ::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none; }

.field-wrapper textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

body {
  color: #424242;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cardo", serif;
  line-height: 1.5; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-size: 60%;
    color: #bcbcbc; }
  h1 small.bellow, h2 small.bellow, h3 small.bellow, h4 small.bellow, h5 small.bellow, h6 small.bellow {
    display: block;
    margin-top: -10px; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #424242; }
    h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active {
      color: #686868; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 12px;
  color: #bcbcbc; }

small {
  font-size: 13.5px;
  color: #bcbcbc; }

a, a:visited, a:link {
  color: #3299bb;
  text-decoration: none; }

.page-header {
  border-bottom: 2px solid #3299bb;
  margin-bottom: 15px; }

/*
* Grid Variables
*/
/*
* Container and Row
*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 600px) and (max-width: 900px) {
    .container {
      width: 600px; } }
  @media (min-width: 900px) and (max-width: 1200px) {
    .container {
      width: 900px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1200px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

/*
* Columns
*/
.col-xs-1 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-1 {
      width: 8.33333%; } }

.col-xs-2 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-2 {
      width: 16.66667%; } }

.col-xs-3 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-3 {
      width: 25%; } }

.col-xs-4 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-4 {
      width: 33.33333%; } }

.col-xs-5 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-5 {
      width: 41.66667%; } }

.col-xs-6 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-6 {
      width: 50%; } }

.col-xs-7 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-7 {
      width: 58.33333%; } }

.col-xs-8 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-8 {
      width: 66.66667%; } }

.col-xs-9 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-9 {
      width: 75%; } }

.col-xs-10 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-10 {
      width: 83.33333%; } }

.col-xs-11 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-11 {
      width: 91.66667%; } }

.col-xs-12 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 0px) {
    .col-xs-12 {
      width: 100%; } }

.col-small-1 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-1 {
      width: 8.33333%; } }

.col-small-2 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-2 {
      width: 16.66667%; } }

.col-small-3 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-3 {
      width: 25%; } }

.col-small-4 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-4 {
      width: 33.33333%; } }

.col-small-5 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-5 {
      width: 41.66667%; } }

.col-small-6 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-6 {
      width: 50%; } }

.col-small-7 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-7 {
      width: 58.33333%; } }

.col-small-8 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-8 {
      width: 66.66667%; } }

.col-small-9 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-9 {
      width: 75%; } }

.col-small-10 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-10 {
      width: 83.33333%; } }

.col-small-11 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-11 {
      width: 91.66667%; } }

.col-small-12 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 600px) {
    .col-small-12 {
      width: 100%; } }

.col-medium-1 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-1 {
      width: 8.33333%; } }

.col-medium-2 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-2 {
      width: 16.66667%; } }

.col-medium-3 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-3 {
      width: 25%; } }

.col-medium-4 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-4 {
      width: 33.33333%; } }

.col-medium-5 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-5 {
      width: 41.66667%; } }

.col-medium-6 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-6 {
      width: 50%; } }

.col-medium-7 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-7 {
      width: 58.33333%; } }

.col-medium-8 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-8 {
      width: 66.66667%; } }

.col-medium-9 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-9 {
      width: 75%; } }

.col-medium-10 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-10 {
      width: 83.33333%; } }

.col-medium-11 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-11 {
      width: 91.66667%; } }

.col-medium-12 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 900px) {
    .col-medium-12 {
      width: 100%; } }

.col-large-1 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-1 {
      width: 8.33333%; } }

.col-large-2 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-2 {
      width: 16.66667%; } }

.col-large-3 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-3 {
      width: 25%; } }

.col-large-4 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-4 {
      width: 33.33333%; } }

.col-large-5 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-5 {
      width: 41.66667%; } }

.col-large-6 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-6 {
      width: 50%; } }

.col-large-7 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-7 {
      width: 58.33333%; } }

.col-large-8 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-8 {
      width: 66.66667%; } }

.col-large-9 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-9 {
      width: 75%; } }

.col-large-10 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-10 {
      width: 83.33333%; } }

.col-large-11 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-11 {
      width: 91.66667%; } }

.col-large-12 {
  position: relative;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px; }
  @media (min-width: 1200px) {
    .col-large-12 {
      width: 100%; } }

/*
* Offsets
*/
@media (min-width: 0px) {
  .offset-xs-1 {
    margin-left: 8.33333%; } }
@media (min-width: 0px) {
  .offset-xs-2 {
    margin-left: 16.66667%; } }
@media (min-width: 0px) {
  .offset-xs-3 {
    margin-left: 25%; } }
@media (min-width: 0px) {
  .offset-xs-4 {
    margin-left: 33.33333%; } }
@media (min-width: 0px) {
  .offset-xs-5 {
    margin-left: 41.66667%; } }
@media (min-width: 0px) {
  .offset-xs-6 {
    margin-left: 50%; } }
@media (min-width: 0px) {
  .offset-xs-7 {
    margin-left: 58.33333%; } }
@media (min-width: 0px) {
  .offset-xs-8 {
    margin-left: 66.66667%; } }
@media (min-width: 0px) {
  .offset-xs-9 {
    margin-left: 75%; } }
@media (min-width: 0px) {
  .offset-xs-10 {
    margin-left: 83.33333%; } }
@media (min-width: 0px) {
  .offset-xs-11 {
    margin-left: 91.66667%; } }
@media (min-width: 600px) {
  .offset-small-1 {
    margin-left: 8.33333%; } }
@media (min-width: 600px) {
  .offset-small-2 {
    margin-left: 16.66667%; } }
@media (min-width: 600px) {
  .offset-small-3 {
    margin-left: 25%; } }
@media (min-width: 600px) {
  .offset-small-4 {
    margin-left: 33.33333%; } }
@media (min-width: 600px) {
  .offset-small-5 {
    margin-left: 41.66667%; } }
@media (min-width: 600px) {
  .offset-small-6 {
    margin-left: 50%; } }
@media (min-width: 600px) {
  .offset-small-7 {
    margin-left: 58.33333%; } }
@media (min-width: 600px) {
  .offset-small-8 {
    margin-left: 66.66667%; } }
@media (min-width: 600px) {
  .offset-small-9 {
    margin-left: 75%; } }
@media (min-width: 600px) {
  .offset-small-10 {
    margin-left: 83.33333%; } }
@media (min-width: 600px) {
  .offset-small-11 {
    margin-left: 91.66667%; } }
@media (min-width: 900px) {
  .offset-medium-1 {
    margin-left: 8.33333%; } }
@media (min-width: 900px) {
  .offset-medium-2 {
    margin-left: 16.66667%; } }
@media (min-width: 900px) {
  .offset-medium-3 {
    margin-left: 25%; } }
@media (min-width: 900px) {
  .offset-medium-4 {
    margin-left: 33.33333%; } }
@media (min-width: 900px) {
  .offset-medium-5 {
    margin-left: 41.66667%; } }
@media (min-width: 900px) {
  .offset-medium-6 {
    margin-left: 50%; } }
@media (min-width: 900px) {
  .offset-medium-7 {
    margin-left: 58.33333%; } }
@media (min-width: 900px) {
  .offset-medium-8 {
    margin-left: 66.66667%; } }
@media (min-width: 900px) {
  .offset-medium-9 {
    margin-left: 75%; } }
@media (min-width: 900px) {
  .offset-medium-10 {
    margin-left: 83.33333%; } }
@media (min-width: 900px) {
  .offset-medium-11 {
    margin-left: 91.66667%; } }
@media (min-width: 1200px) {
  .offset-large-1 {
    margin-left: 8.33333%; } }
@media (min-width: 1200px) {
  .offset-large-2 {
    margin-left: 16.66667%; } }
@media (min-width: 1200px) {
  .offset-large-3 {
    margin-left: 25%; } }
@media (min-width: 1200px) {
  .offset-large-4 {
    margin-left: 33.33333%; } }
@media (min-width: 1200px) {
  .offset-large-5 {
    margin-left: 41.66667%; } }
@media (min-width: 1200px) {
  .offset-large-6 {
    margin-left: 50%; } }
@media (min-width: 1200px) {
  .offset-large-7 {
    margin-left: 58.33333%; } }
@media (min-width: 1200px) {
  .offset-large-8 {
    margin-left: 66.66667%; } }
@media (min-width: 1200px) {
  .offset-large-9 {
    margin-left: 75%; } }
@media (min-width: 1200px) {
  .offset-large-10 {
    margin-left: 83.33333%; } }
@media (min-width: 1200px) {
  .offset-large-11 {
    margin-left: 91.66667%; } }
/*
* Clearfix and other helpers
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.pull-right {
  float: right;
  display: inline-block; }

.pull-left {
  float: left;
  display: inline-block; }

.center-text {
  text-align: center; }

.hidden {
  display: none !important; }

.navigation {
  font-family: "Lato", sans-serif; }
  .navigation ul {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px; }

.navigation-horizontal li {
  float: left;
  list-style: none; }
  .navigation-horizontal li a {
    padding: 15px 15px;
    font-family: "Lato", sans-serif;
    color: #424242;
    text-decoration: none; }
  .navigation-horizontal li a:active, .navigation-horizontal li a:hover {
    background-color: #f6f6f6; }
  .navigation-horizontal li a.active {
    color: #ff9900; }

.navigation {
  font-family: "Lato", sans-serif; }

.navigation-vertical li {
  list-style: none; }
  .navigation-vertical li a {
    width: 100%;
    display: inline-block;
    line-height: 1;
    margin: 4px 0;
    font-family: "Lato", sans-serif;
    color: #424242;
    text-decoration: none; }
  .navigation-vertical li a:active, .navigation-vertical li a:hover {
    border-left: 2px solid #bcbcbc;
    padding-left: 4px; }
  .navigation-vertical li a.active {
    border-left: 2px solid #3299bb;
    padding-left: 4px; }

.jumbotron, .jumbotron-primary, .jumbotron-secondary {
  border-bottom: 5px solid;
  min-height: 250px;
  margin-bottom: 45px;
  background-color: #e9e9e9; }

.jumbotron-primary {
  background-color: #3299bb;
  border-color: #297f9b; }

.jumbotron-secondary {
  background-color: #ff9900;
  border-color: #d68100; }

h1.message {
  font-size: 81px;
  padding-top: 45px;
  padding-bottom: 45px; }
  h1.message small {
    font-size: 18px; }

.message {
  color: white; }
  .message small {
    color: white; }

.well {
  background-color: #e9e9e9;
  border: 1px solid #d0d0d0;
  padding: 12px 17px;
  -moz-box-shadow: inset 0 0 5px #d0d0d0;
  -webkit-box-shadow: inset 0 0 5px #d0d0d0;
  box-shadow: inset 0 0 5px #d0d0d0; }

.field-wrapper {
  margin-bottom: 15px; }
  .field-wrapper textarea {
    outline: 0px !important;
    -webkit-appearance: none; }
  .field-wrapper input, .field-wrapper textarea {
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    border: 1px solid #bcbcbc;
    padding: 5px 8px;
    -moz-box-shadow: inset 0 0 3px #dfdfdf;
    -webkit-box-shadow: inset 0 0 3px #dfdfdf;
    box-shadow: inset 0 0 3px #dfdfdf;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  .field-wrapper input:focus, .field-wrapper textarea:focus {
    border-color: #3299bb;
    -moz-box-shadow: inset 0 0 2px #3196b7;
    -webkit-box-shadow: inset 0 0 2px #3196b7;
    box-shadow: inset 0 0 2px #3196b7; }
  .field-wrapper label {
    display: block;
    font-family: "Cardo", serif; }
  .field-wrapper label.inline {
    display: inline; }

input[type="submit"] {
  font-size: 18px;
  line-height: 1.5; }

.btn {
  color: #424242;
  text-decoration: none;
  padding: 5px 15px 3px;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: #d5d5d5;
  background-color: #e9e9e9;
  font-family: "Lato", sans-serif;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none; }

.btn:active {
  padding: 6px 15px 4px;
  border-width: 1px; }

.btn-round {
  width: 34px;
  padding: 5px 0px 5px;
  border-radius: 50%;
  border-width: 1px; }

.btn-round:active, button.btn-round:active {
  width: 34px;
  padding: 5px 0px 5px;
  border-radius: 50%;
  border-width: 1px; }

button.btn-round, button.btn-round:active {
  width: 36px; }

.btn-primary {
  color: white;
  background-color: #3299bb;
  border-color: #297f9b; }

.btn-secondary {
  color: white;
  background-color: #ff9900;
  border-color: #d68100; }

a.btn, a:visited.btn, a:hover.btn, a:active.btn {
  color: #424242; }
a.btn-secondary, a:visited.btn-secondary, a:hover.btn-secondary, a:active.btn-secondary {
  color: white; }
a.btn-primary, a:visited.btn-primary, a:hover.btn-primary, a:active.btn-primary {
  color: white; }

/*# sourceMappingURL=pre-cortex.css.map */
