.img-responsive {
  display: block;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

.pull-right {
  float: right;
  display: inline-block;
}
.pull-left {
  float: left;
  display: inline-block;
}
.center-text {
  text-align: center;
}
.hidden {
  display: none !important;
}