// Colors
$primary-color: #3299bb;
$secondary-color: #ff9900;
$muted-color: #bcbcbc;
$bg-gray-color: #e9e9e9;
$text-gray-color: #424242; // Also used for standard text color
$white: white;

// Typografi variables
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Cutive+Mono|Cardo);
$base-text-color: $text-gray-color;
$sans-serif-font: 'Lato', sans-serif;
$base-font-weight: 300;
$base-font-size: 18px;
$serif-font: 'Cardo', serif;
$header-lineheight: 1.5;
$base-lineheight: 1.5;