@import "variables";
button {
  @extend %form-reset-button;
}
input[type="submit"] {
  font-size: $base-font-size;
  line-height: $base-lineheight;
}
.btn {
  color: $text-gray-color;
  text-decoration: none;
  padding: 5px 15px 3px;
  border: 1px solid;
  border-bottom: 3px solid;
  border-color: darken($bg-gray-color, 8);
  background-color: $bg-gray-color;
  font-family: $sans-serif-font;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-image: none;
}
.btn:active {
  padding: 6px 15px 4px;
  border-width: 1px;
}
.btn-round{
  width: 34px;
  padding: 5px 0px 5px; 
  border-radius: 50%;
  border-width: 1px;
}
.btn-round:active, button.btn-round:active {
  width: 34px;
  padding: 5px 0px 5px; 
  border-radius: 50%;
  border-width: 1px;
}
button.btn-round, button.btn-round:active { 
  width: 36px;
}
.btn-primary {
  color: white;
  background-color: $primary-color;
  border-color: darken($primary-color, 8);
}
.btn-secondary {
  color: white;
  background-color: $secondary-color;
  border-color: darken($secondary-color, 8);
}

