@import "variables";
@import "form-reset-helpers";
.field-wrapper {
  margin-bottom: 15px; 

  textarea {
    @extend %form-reset-textarea;
    outline:0px !important;
    -webkit-appearance:none;
  }

  input {
    @extend %form-reset-input;
  }

  input, textarea {
    background-color: $white;
    font-family: $sans-serif-font;
    font-weight: 300;
    border: 1px solid $muted-color;
    padding: 5px 8px;
    -moz-box-shadow:    inset 0 0 3px darken($bg-gray-color, 4);
    -webkit-box-shadow: inset 0 0 3px darken($bg-gray-color, 4);
    box-shadow:         inset 0 0 3px darken($bg-gray-color, 4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }

  input:focus, textarea:focus {
    border-color: $primary-color;
    -moz-box-shadow:    inset 0 0 2px darken($primary-color, 1);
    -webkit-box-shadow: inset 0 0 2px darken($primary-color, 1);
    box-shadow:         inset 0 0 2px darken($primary-color, 1);
  }

  label {
    @extend %form-reset-label;
    display: block;
    font-family: $serif-font;
  }
  label.inline {
    display: inline;
  }
   
  select {
    @extend %form-reset-select;
  }
    
}