@import "variables";
.jumbotron {
  border-bottom: 5px solid;
  min-height: 250px;
  margin-bottom: 45px;
}
.jumbotron-primary {
  @extend .jumbotron;
  background-color: $primary-color;
  border-color: darken($primary-color, 8);
}
.jumbotron-secondary {
  @extend .jumbotron;
  background-color: $secondary-color;
  border-color: darken($secondary-color, 8);
}
h1.message {
  font-size: 81px;
  padding-top: 45px;
  padding-bottom: 45px; 
  small {
    font-size: 18px;
  }
}
.message {
  color: $white;
  small {
    color: $white;
  }
}