@import "variables";

body {
  color: $base-text-color;
  font-size: $base-font-size;
  font-family: $sans-serif-font;
  font-weight: $base-font-weight;
  line-height: $base-lineheight;
}
// All headers to correct font
h1, h2, h3 ,h4, h5, h6 {
  font-family: $serif-font;
  small {
    font-size: 60%;
    color: $muted-color;
  }
  small.bellow {
    display: block;
    margin-top: -10px;
  }
  line-height: $header-lineheight;
  a {
    text-decoration: none;
    color: $base-text-color;
    &:hover, &:active {
      color: lighten($base-text-color, 15);
    }
  }
}
// Unique header styles
h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 27px;
}
h4 {
  font-size: 18px;
  //font-weight: 600;
  //font-family: 'Caslon';
}
h5 {
  font-size: 12px;
  color: $muted-color;
}
small {
  font-size: $base-font-size * 0.75;
  color: $muted-color;
}
.page-header {
  border-bottom: 2px solid $primary-color;
  margin-bottom: 15px;
}